.document {
    scroll-behavior: smooth;
}

.body {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    box-sizing: border-box;
    padding-top: 92px;
    margin-left: 51px;
    margin-right: 49px;
    color: black;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    display: flex;
    flex-direction: row;
    justify-self: center;
    width: 148px;
    height: 105px;
    margin-right: 177px;
}

.header-menu {
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    list-style: circle;
    text-underline-offset: 5px;
}

.list-style {
    padding-left: 2px;
    padding-right: 4px;
    padding-top: 2px;
}

.list-style:first-child {
    list-style: none;
    padding-right: 4px;
    padding-top: 2px;
}

.main-page {
    list-style: none;
    margin-right: 25px;
    text-decoration: none;
}

.link {
    text-decoration: underline;
    margin-right: 25px;
}

.contacts {
    color: #000;
    font-family: Raleway, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; /* 135% */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-decoration: none;
    padding-right: 3px;
    padding-top: 2px;
    text-underline-offset: 5px;
}

.otn {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 757px;
    width: 100%;
    margin-top: 96px;
    background-blend-mode: multiply;
    flex-direction: column;
    justify-content: space-between;
}

.ono {
    display: flex;
    width: 1340px;
    color: #fff;
    font-family: Raleway, arial, sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
    margin-top: 165px;
    margin-left: 50px;
}

.tebe {
    display: flex;
    justify-content: center;
    width: 1340px;
    color: #fff;
    font-family: Raleway, arial, sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
    margin-top: 12px;
    margin-left: 35px;
}

.nado {
    display: flex;
    width: 1340px;
    color: #fff;
    font-family: Raleway, arial, sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
    margin-top: 5px;
    margin-left: 80px;
    justify-content: right;
}

.span-o-e {
    margin-left: 30px;
}

.span-n {
    margin-right: 30px;
}

.text-description {
    display: flex;
    margin-left: 422px;
    align-items: center;
    margin-bottom: 52px;
}

.about {
    color: white;
    text-align: center;
    font-family: Raleway, arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;
    word-spacing: 17.3px;
    padding-top: 7px;
}

.button {
    color: white;
    font-size: 22px;
    font-family: Raleway, arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    word-wrap: break-word;
    padding: 12px 32px;
    background-color: transparent;
    border: 1px white solid;
    margin-left: 82px;
    margin-top: 5px;
}

.lots {
    width: 1340px;
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
}

.subtitle {
    color: black;
    font-size: 40px;
    font-family: Raleway, arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word;
    margin-left: 40px;
    margin-bottom: 27px;
}

.card-list {
    display: flex;
    justify-content: space-between;
}

.card-list-item {
    list-style: none;
    display: inline-flex;
    width: 430px;
    list-style: none;
    min-height: 450px;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
}

.card {
    display: flex;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.card-1 {
    background-image: url(../images/card-lot-01.jpg);
}

.card-2 {
    background-image: url(../images/card-lot-02.jpg);
}

.card-3 {
    background-image: url(../images/card-lot-03.jpg);
}

.card-link {
    text-decoration: none;
}

.more {
    width: 192px;
    display: flex;
    align-self: end;
    margin-right: 1108px;
    margin-left: 40px;
    color: black;
    font-size: 20px;
    font-family: Raleway, arial, sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    text-align: left;
    text-decoration: underline;
    margin-top: 30px;
    text-underline-offset: 5px;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-content: end;
}

.card-title {
    width: 350px;
    text-align: left;
    color: white;
    font-size: 22px;
    font-family: Raleway, arial, sans-serif;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 26.4px;
    word-wrap: break-word;
    margin-top: 50px;
    margin-left: 40px;
    height: 100%;
}

.descript {
    width: 350px;
    color: white;
    font-size: 20px;
    font-family: Raleway, arial, sans-serif;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    margin-left: 40px;
    align-self: end;
    margin-bottom: 50px;
    height: auto;
    text-decoration: none;
}

.about-main {
    display: flex;
    justify-content: space-between;
    width: 1340px;
    margin-top: 181px;
    margin-left: auto;
    margin-right: auto;
}

.about-image {
    background-color: black;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.about-image-1 {
    display: block;
    width: 148px;
    height: 114px;
}

.column-2 {
    margin-top: 25px;
    padding-left: 12px;
    color: #000;
    font-family: Raleway, arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.19;
    width: 910px;
}

.about-title {
    display: block;
    color: black;
    font-size: 40px;
    font-family: Raleway, arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word;
    width: auto;
    padding-top: 102px;
    padding-bottom: 73px;
    padding-left: 25px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 180px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 90px;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.footer-menu {
    color: #000;
    text-align: center;
    font-family: Raleway, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    line-height: 10.5px;
    padding-top: 8px;
    text-underline-offset: 3px;
}

.socials {
    display: flex;
    justify-content: space-between;
    width: 240px;
}

.socials-image {
    width: 48px;
    height: 48px;
}

